:root 
{
    --color-1: hsl(179, 80%, 58%);
    --color-2: hsl(206, 84%, 22%);
    --color-3: hsl(225, 14%, 53%);
    --color-4: hsl(0, 0%, 100%);
    --color-5: hsl(230, 60%, 8%);
    --color-6: hsl(343, 100%, 58%);
}

html {
    font-size: 15px;
}
body {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    background-color: var(--color-5);
    overflow-x: hidden;
}
img {
    object-fit: cover;
}

p {
    line-height: 1.66;
    color: var(--color-3);
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 
{
    font-weight: 800;
}

h1
{
    font-size: 2.13rem;
    line-height: 1.25;
}
h2 {
    font-size: 2.66rem;
    line-height: auto;
}
h3 
{
    font-size: 1.6rem;
    line-height: auto;
}

h4 
{
    font-size: 1.2rem;
}



.textfield 
{
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-2);
    border:transparent;
    color: var(--color-4);
    padding: .8em 1.2em;
    border-radius: 2.5em;
    transition:outline 300ms, color 300ms;
    width: 100%;
}

.textfield::placeholder 
{
    color: var(--color-3);
}

.textfield:focus {
    outline: solid 2px var(--color-1);
}

.textfield-wrapper.invalid .textfield {
    outline: solid 2px var(--color-6);
}



.textfield_error {
    color: var(--color-6);
    font-size: 0.8rem;
    padding: 0 1.2em;
    display: none;
}

.textfield-wrapper.invalid .textfield_error {
    display: inherit;
}


.btn {
    padding: .8em 1.2em;
    color: var(--color-5);
    background-color: var(--color-1);
    border:transparent;
    font-size: inherit;
    font-family: inherit;
    border-radius: 2.5em;
    transition: background-color 300ms, outline 300ms;
}

.btn:hover, .btn:focus{
    background-color: transparent;
    outline: 2px solid var(--color-1);
}


.header {
    padding: 2.66em 0;
    margin-bottom: 4.3em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    text-align: center;
    padding: 0 6.4% 9.6em;
}


.hero_img--mobile {
    width: 109.3%;
    max-width: none;
    display: block;
    margin-bottom: 3.133em;
}
.hero_content {

    max-width: 457px;
    margin-left: auto;
    margin-right: auto;
}

.title 
{
    color: var(--color-4);
    margin-bottom: .718em;
}
.title .color-1 
{
    color:var(--color-1);
}

.hero_body {
    margin-bottom: 2.13em;
}


.features 
{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3.73em;
    padding: 0 6.4%;
    margin-bottom: 9.6em;
}

.feature_icon-wrapper
{
    background-color: var(--color-2);
    padding: 1.46em;
    width: 8em;
    height: 8.26em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.13em;
}


.feature_title {
    color: var(--color-4);
    margin-bottom: .61em;
}

.pricing {
    text-align: center;
    padding: 0 6.4%;
    margin-bottom: 9.6em;
}

.pricing_title 
{
    margin-bottom: 1.125em;
    color: var(--color-4);
}

.pricing_text {
    margin-bottom: 5.26em;
}



.pricing_modals {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4.33em;
}

.pricing_modal-1 
{
    background-color: var(--color-2);
    color: var(--color-4);
}
.pricing_modal {
    position: relative;
    padding: 9% 2em;
    border-radius: 12px;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}


.pricing_icon {
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
}

.pricing_modal_title {
    margin-bottom: 1.05em;
}

.pricing_modal_body {
    margin-bottom: 1.7em;
    opacity: 60%;
}

.pricing_modal-1_body 
{
    color: var(--color-4);
}

.pricing_value {
    margin-bottom: .475em;
}
.pricing_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.pricing_item {
    position: relative;
    padding-left: 2em;
}

.pricing_item::before
{
    content: '';
    left: 0px;
    top: 0px;
    transform: translateY(50%);
    background-image: url(./assets/icon-check.svg);
    width: .73em;
    height: .53em;
    position: absolute;
}


.pricing_modal-2
{
    background-color: var(--color-1);
    color: var(--color-5);
    padding-top:4.06em; 
}

.pricing_modal-2_body {
    color: var(--color-5);
}

.pricing_modal-2_value {
    display: flex;
    align-items: center;
}

.pricing_modal-2_value .body
{
    margin-left: 0.5em;
    font-size: 1rem;
    font-weight: 500;
    opacity: 50%;
}

.pricing_modal-2_item::before{
    background-image: url(./assets/icon-check--dark.svg);
}




.footer {
    padding: 0 6.4% 10.9em;
    text-align: center;
}
.footer_title {
    color:var(--color-4);
    margin-bottom: 1.3em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.6em;
}


@media (min-width: 768px)
{
    .header {
        padding: 3.2em 5%;
    }
    .logo {
        margin-left: 0;
    }

    .hero {
        padding: 3.33em 0;
        display: flex;
        align-items: center;
        background-image: url(./assets/illustration-hero-left.svg), url(./assets/illustration-hero-right.svg);
        background-repeat: no-repeat;
        background-position: left -10em center, right -10em center;
        background-size: contain;
        margin-bottom: 7.2em;
    }

    .hero_img--mobile {
        display: none;
    }

    .features 
    {
        padding: 0 12%;
        text-align: left;
        margin-bottom: 9.4em;
    }
    .feature_icon-wrapper {
        margin-left: 0;
    }

    .feature{
        max-width: 515px;
    }

    .feature:nth-child(1), .feature:nth-child(3)
    {
        margin-left: 3.8em;
    }
   
    .pricing {
        padding: 0 12%;
        margin-bottom: 8em;
    }

    .form {
        flex-direction: row;
        width: 100%;
        max-width: 476px;
        margin-left: auto;
        margin-right: auto;
    }

    .fomr_textfield-wrapper{
        width: 67%;
    }

    .form_btn 
    {
        width: 29.4%;
    }
}
