:root 
{
    --color-1: hsl(179, 80%, 58%);
    --color-2: hsl(206, 84%, 22%);
    --color-3: hsl(225, 14%, 53%);
    --color-4: hsl(0, 0%, 100%);
    --color-5: hsl(230, 60%, 8%);
    --color-6: hsl(343, 100%, 58%);
}

html {
    font-size: 15px;
}
body {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}
img {
    object-fit: cover;
    max-width: 100%;
}

p {
    line-height: 1.66;
}

* {
    margin: 0;
}

h1, h2, h3, h4 
{
    font-weight: 800;
}

h1
{
    font-size: 2.13rem;
    line-height: 1.25;
}
h2 {
    font-size: 2.66rem;
    line-height: auto;
}
h3 
{
    font-size: 1.6rem;
    line-height: auto;
}

h4 
{
    font-size: 1.2rem;
}



.textfield 
{
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-2);
    border:transparent;
    color: var(--color-4);
    padding: .8em 1.2em;
    border-radius: 2.5em;
    transition:outline 300ms, color 300ms;
}

.textfield::placeholder 
{
    color: var(--color-3);
}

.textfield:focus {
    outline: solid 2px var(--color-1);
}

.textfield-wrapper.invalid .textfield {
    outline: solid 2px var(--color-6);
}



.textfield_error {
    color: var(--color-6);
    font-size: 0.8rem;
    padding: 0 1.2em;
    display: none;
}

.textfield-wrapper.invalid .textfield_error {
    display: inherit;
}


.btn {
    padding: .8em 1.2em;
    color: var(--color-5);
    background-color: var(--color-1);
    border:transparent;
    font-size: inherit;
    font-family: inherit;
    border-radius: 2.5em;
    transition: background-color 300ms, outline 300ms;
}

.btn:hover, .btn:focus{
    background-color: transparent;
    outline: 2px solid var(--color-1);
}
